@import "tailwindcss";

/* ---------- Base overrides ---------- */
html,
body {
  background-color: #0f0f0f;
  color: #ffffff;
  height: 100%;
}

/* ---------- App defaults ---------- */
* {
  box-sizing: border-box;
}
